body, html, canvas#game{
    display:block;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
#splash, #end{
    text-align:center;
    position:absolute;
    font-size:14px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
#score{
    font-weight:bold;
}
#scoreboard{
	position:fixed;
	right:0px;
	top:0px;
	padding:2em;
	font-size:1.3em;
	background:rgba(0,0,0,0.5);
	color:#FFF;
	box-sizing:border-box;
	z-index:200;	
	font-family:Lato;
	font-weight:400;
	text-align:left;
}
#splash-center, #end-center{
    position:absolute;
    top:50%;
    left:0px;
    width:100%;
    margin-top:-200px;
}
#slider{
    position:absolute;
    display:none;
    bottom:20px;
    right:20px;
    z-index:100;
}
#splash h1, #end h1{
    color:#CCC;
    font-family: Lato;
    font-size:7em;
    font-weight:100;
    margin:0px;
}
#end{
    display:none;
}
p{
    margin:3em;
    font-family: lato;
    text-align:center;
    font-size:1.3em;
    color:#F73643;
    font-weight:300;
}
#splash input{
    border-radius:0.5em;
    font-family: lato;
    max-width:400px;
    text-align:center;
    width:100%;
    margin:3em auto;
    position:relative;
    display:block;
    border:1px solid #DDD;
    font-weight:300;
    padding:0.8em 1.4em;
    font-size:1.3em;
    outline:0;
    transition:all 200ms;
}
#splash input:focus{
    border:1px solid #F73643;
}
#splash button{
    border-radius:0.5em;
    font-family: lato;
    text-align:center;
    margin:0 auto;
    position:relative;
    font-weight:300;
    outline:0;
    color:#CCC;
    display:block;
    background:transparent;
    border:1px solid #CCC;
    padding:0.8em 1.4em;
    font-size:1.3em;
    cursor:pointer;
    transition:all 200ms;
}
#splash button:hover{
    color:#F73643;
    border:1px solid #F73643;
}